# Backend PALA
PORT=8082

# Subsistema de seguridad PALA
SECURITY_SUBSYSTEM_BASE_URL=https://subsistemaseguridadpala.onrender.com
SECURITY_SUBSYSTEM_SYSTEM_KEY=pon_aca_un_secreto_largo_y_aleatorio
SECURITY_SUBSYSTEM_JWT_SECRET=pon_aca_un_secreto_largo_y_aleatorio

# JWT local de PALA
JWT_SECRET=pon_aca_un_secreto_largo_y_aleatorio
